@import "tailwindcss";

@import "./base.css";

@theme {
    --color-brand-red: var(--color-fredericksen-red);
    --color-brand-dark: var(--color-fredericksen-dark);
    --color-brand-card: var(--color-fredericksen-bg-card);

    --animate-fade-in: fade-in 0.2s ease-out;
}

@utility container-mobile {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
